<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageos_inlinedocs>
            <general>
                <enabled>0</enabled>
                <show_full_documentation_link>0</show_full_documentation_link>
            </general>
        </mageos_inlinedocs>
    </default>
</config>
